{% extends 'baseuser.html.twig' %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container py-3" style="color=white;">
	<header class="text-white text-center">
		<h1 class="display-4">Ajouter une photo</h1>
		<img src="images/photo.png" alt="" width="150" class="mb-4" style="color:#5b5656;">
	</header>

	<div class="row py-4">
		<div class="lg-10 mx-auto">


			<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
				<input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
				<label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
				<div class="input-group-append">
					<label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
							class="fa fa-cloud-upload mr-2 text-muted"></i><small
							class="text-uppercase font-weight-bold text-muted">Choisir un
							fichier</small></label>
				</div>
			</div>

			<!-- Uploaded image area-->
			<div class="image-area mt-4"><img id="imageResult" src="#" alt=""
					class="img-fluid rounded shadow-sm mx-auto d-block"></div>

		</div>
	</div>
</div>
</div>

{% endblock %}